@media screen and (max-width: 480px) {
    nav{
        margin-top: 3px;
    }
    .nav-links-ph {
      width: 100%;
      flex-direction: column ;
    }

    .nav-links {
        display: none;
    }

    
  
    .navbar-toggle {
      display: flex;
      height: 40px;
    }
  
  
    .navbar-toggle img {
        margin-right: 10px;
        height: 35px;
        width: auto;
        margin-top: 3px;
    }

    .navbar-links ul {
      text-align: center;
      
    }

    .Cart-container {
        display: none ;
    }

    .product-category img {
        height: 100px;
        align-items: center;
    }

    .slide-container-text {
        display: none;
    }  

    .slide img {
        height: 500px;
        width: 500px;
        margin-left: -45px;
    }

    .slider {
        height: 520px;
        width: 500px;
        margin-left: 0;
    }
    
    .slides {
        width: 590%;
        height: 500px;
        
    }
  
    .navigation-manual {
        width: 395px;
        margin-top: 500px;
    }

    .navigation-auto {
        margin-top: 460px;
        width: 395px;
    }
}
